.hide {
  display: none;
}

.btn {
  background: #16d3d8;
  border: none;
  border-radius: 5px;
  padding: 7px 10px;
  color: #fff;
  font-weight: 700;
}

.btn:hover {
  background: #13b7bb;
}

.cancelBtn {
  background: #f90303;
  border: none;
  border-radius: 5px;
  padding: 7px 10px;
  color: #fff;
  font-weight: 700;
  position: absolute;
  top: 20.9rem;
  left: 16.2rem;
}

.cancelBtn:hover {
  background: #d20000;
}
