.input {
  color: #805ad5;
  border: 1px solid #805ad5;
  background: none;
  border-radius: 15px;
  padding: 5px 10px;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.submitBtn {
  background: #805ad5;
  border: none;
  color: #fff;
  border-radius: 15px;
  padding: 5px 10px;
  margin: 0 0 0 1rem;
}

.submitBtn:hover {
  background: #7250bf;
  cursor: pointer;
}

.submitBtn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}
