.user__title {
  margin: 0 0 0.75rem 0;
  align-self: flex-start;
}

.user__subTitle {
  font-weight: 500;
  font-size: 1rem;
  margin: 0 0 0.2rem 0;
  align-self: flex-start;
}

.user__list {
  list-style: none;
  padding: 0;
  margin: 0;
  align-self: flex-start;
  line-height: 1.5;
}

.user__listItem {
  font-size: 14px;
}
