@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

main {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
