.btn {
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  min-height: 35px;
  padding: 0 15px;
  box-sizing: border-box;
  background: #eee;
  font-family: "Montserrat", sans-serif;
}

.btn:hover {
  background: #d4d4d4;
}
